* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #fafafa;
    color: whitesmoke;
    height: 98%;
}

html {
    height: 100%;
}

h1,
h2,
h3 {
    color: #008577;
    margin: 10px;
}

p,
a,
label {
    color: #434343;
    margin: 10px;
}

footer {
    padding: 10px;
    z-index: 2;
}

.center-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.center-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: none;
}

.column-left {
    float: left;
    width: 20%;
}

.column-middle {
    float: left;
    width: 80%;
}

.container {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
  }